
/* @import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */

:root{
  --main-bg-color:  #1D2341;
  --white-text: #fff;
  --glow-yellow: #FCFF72;
  --cta-green: #0DBE8B;
  --cta-green-hover: hsl(163, 87%, 35%);
  --dark-text: #666666;
  --low-opacity-card: rgba(255, 255, 255, 0.1);
  --low-opacity-card-hover: rgba(255, 255, 255, 0.2);

  /* Item colors */
  /* Red  */
  --item-red-light: #C97878;
  --item-red-dark: #BD6C6C; 
  --item-red-light--hover: hsl(0, 42%, 66%);
  /* Purple */
  --item-purple-light: #7978c9;
  --item-purple-dark: #6E6CBD; 
  --item-purple-light--hover: hsl(241, 42%, 66%);
  /* Blue */
  --item-blue-light: #789DC9;
  --item-blue-dark: #6C91BD; 
  --item-blue-light--hover: hsl(213, 42%, 66%);
  /* Orange */
  --item-orange-light: #C99578;
  --item-orange-dark: #BD896C; 
  --item-orange-light--hover: hsl(21, 42%, 66%);
  /* Fucsia */
  --item-fucsia-light: #BE78C9;
  --item-fucsia-dark: #AD6CBD; 
  --item-fucsia-light--hover: hsl(293, 42%, 66%);
  /* Green */
  --item-green-light: #78C999;
  --item-green-dark: #6CBD8C; 
  --item-green-light--hover: hsl(144, 42%, 66%);


}
*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html{
    background-color: var(--main-bg-color);
    color: var(--white-text);
    
    /* font-family: 'Meow Script', cursive;
    font-family: 'Montserrat', sans-serif; */
}
main{
  background-color: var(--main-bg-color);
  padding: 0 16px;
  min-height: 75vh;
 /* max-width: 600px;
 margin: 0 auto; */
}
a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;
  }
  .header-container{
    display: flex;
    width: 100%;
    margin: 30px auto;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
    color: var(--white-text);
    cursor: pointer;
  }
  .head_text{
    font-weight: 300;

  }
  .subtitle{
    color: var(--glow-yellow);
    text-decoration: none;
    font-size: 48px;
  }
  .feed-title{
    /* font-family: 'Montserrat', sans-serif; */
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 15px;
  }
  .feed-description{
    margin-bottom: 15px;
  }
  div[class^="card-body-"]{
    color: var(--white-text);
    

  }
  .feed-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  /*Local card*/
  .local-card{
    position: relative;
    background-color: var(--item-purple-light);
    padding: 18px 16px;
    margin: 10px 0;
    border-radius: 10px;
    margin-bottom:50px;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
  }
 
  .card-title{
    position: relative;
    margin-bottom: 20px;
    z-index: 4;
  }
  .card-title > h3{
    z-index: 4;
  }
  [class^=card-body-]{
    z-index: 4;
    position: relative;
    min-height: 70px;
  }
  [class^=card-body-] > p{
   margin-bottom: 20px;
   max-width: 80%;
   z-index: 3;
  }
  .bg-image{
    z-index: 2;
    position: absolute;
  }
  .search-page-container{
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
  }
  .search-container{
      margin: 20px auto;
      width: 100%;
    }
    .search{
    position: relative;
    min-width: 100%;

  }
  .icon-search{
    position: absolute;
    font-size: 8px;
    color: #66666666;
    margin-right: 8px;
    right: 5px;
    top: 2px;
    margin-top: 12px;
  }
  .search-container > .search > .icon-search{
    font-size: 1.6rem;
  }
  .text-input{
    border-radius: 8px;
    min-width: calc(100% - 20px);
    font-size: 20px;
    padding: 16px 0;
    padding-left: 20px;
    /* margin-right: -20px; */
    color: var(--dark-text);
  }
  
.local-card > p{
    margin-bottom: 50px;
}
.tags{
  margin-top: 20px;
}
.tag{
  padding: 6px 10px;
  background-color: var(--item-purple-dark);
  border-radius: 16px;
  margin-bottom:  8px;
  margin-right: 10px;
  z-index: 4;
}
.tag>h6{
  padding: 0;
  margin: 0;
  /* font-family: 'Montserrat',sans-serif; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.24px;
}
.local-card.Restaurante > .bg-image{
    right: -291px;
    top: -51px;
    min-width: 476px;
    min-height: 300px;
    transform: rotate(-2.23deg);
    background: url(../public/images/pizza-illustration.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    scale: 0.6;
}
.local-card.Restaurante{
    background-color: var(--item-purple-light);
    transition: ease all 0.3s;
}
.feed-container > .local-card.Restaurante:hover{
    background-color: var(--item-purple-light--hover);
    transition: ease all 0.3s;
}
.local-card.Farmacia{
  background-color: var(--item-blue-light);
  transition: ease all 0.3s;
}
.feed-container > .local-card.Farmacia:hover{
  background-color: var(--item-blue-light--hover);
  transition: ease all 0.3s;
}
.card-body-Farmacia > .tags > .tag{
  background-color: var(--item-blue-dark);
}
.local-card.Farmacia > .bg-image{
    z-index: 2;
    position: absolute;
    right: -220px;
    top: -50px;
    min-width: 400px;
    min-height: 200px;
    transform: rotate(-23.61deg);
    background: url('../public/images/medical-image.png');
    background-size: 280px;
    background-repeat: no-repeat;
}
.local-card.Cerveseria{
  background-color: var(--item-red-light);
  transition: ease all 0.3s;
}
.feed-container > .local-card.Cerveseria:hover{
  background-color: var(--item-red-light--hover);
  transition: ease all 0.3s;
}
.card-body-Cerveseria > .tags > .tag{
  background-color: var(--item-red-dark);
}
.local-card.Cerveseria > .bg-image{
    z-index: 2;
    position: absolute;
    right: -145px;
    top: -146px;
    min-width: 278px;
    min-height: 535px;
    transform: rotate(-20.89deg) scale(0.4);
    background: url('../public/images/beer-ilustration.png');
    background-size: 280px;
    background-repeat: no-repeat;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-50{
  margin-bottom: 50px;
}
.op-0{
  opacity: 0;
}
.container-h-flex{
  display: flex;
  flex-flow: column nowrap;
}
/* local page */
.citated-type{

}

.local-location__container{

}


/* offer page */
.local--page__type{
  color: var(--white-text);
  opacity: 0.8;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}
.local--page__local-name{
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 22px;
}
.offer--title{
  font-size: 30px;
}
.expire-date{
  margin-top: 20px;
}




  /*Offer */
  
  .local--offer{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 0px;
  }
  .offer-container{
    background: var(--low-opacity-card);
    border-radius: 12px;
    padding: 18px 16px;
    margin: 10px 0;
    margin-bottom: 30px;
    cursor: pointer;
    transition: ease all 0.3s;
  }
 
  .feed-container>.offer-container:hover{
    background: var(--low-opacity-card-hover);
    transition: ease all 0.3s;
  }
  .offer-content{
    display: flex;
    flex-flow: column nowrap;
  }
  .offer-specs{
    margin-left: 0px;
  }
  .offer-row{
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
  }
  .offer-row.text-center.distribute{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .offer-image-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
  .offer-image{
    border-radius: 8px;
  }
  .offer-text{
      margin-left: 20px;
  }
  .offer-text > h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .offer-text > p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .card-expire-date{
    font-size: 14px;
    opacity: 0.8;
    margin-top: 10px;
  }
  .price-container{
    display: flex;
    /* width: 100%; */
    flex-flow: column;
    text-align: end;
    margin-left: 50px;
    padding-top: 20px;
  }
  .price.red{
    position: relative;
    font-size: 12px;
    text-align: end;
    margin-bottom: 10px;
    /* text-decoration: line-through red 3px; */
  }
  .price.red::after{
    position: absolute;
    content:'/';
    font-size: 20px;
    right: 4px;
    top: -5px;
    font-weight: 400;
    color: red;
   
  }
  .success-color{
    color: rgb(7, 229, 7);
  }
  .error-color{
    color: red;
  }
  .error-text{
    position: absolute;
    font-size: 16px;
    margin-top: -5px;
    margin-top: 150px;
  }
  .specs-extra{
    display: flex;
    flex-flow: column nowrap;
  }
  .cupon-group{
    max-width: 300px;
  }
  .cupon-group > .offer-container > h2{
    text-align: center;
  }
  .primary-button-visual{
    background-color: var(--cta-green);
    border-radius: 6px;
    color: var(--white-text);
    cursor: pointer;

  }
  .primary-button-visual:hover{
    background-color: var(--cta-green-hover);
  }
  .primary-button-visual.item-button{
    padding: 12px 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  } 
  .container-button-fw{
    text-align: center;
    display: block;
    justify-content: center;
    width: 100%;
    margin: 16px auto;
    max-width: 260px;

  }
  .container-button-fw.location{
    text-align: center;
    display: block;
    justify-content: center;
    width: 100%;
    margin: 16px auto;
    max-width: none;
    margin: 40px 0;
  }
  .specs-extra > .cupon-group{
    justify-content: center;
    margin: 0 auto;
  }
  .specs-extra > .container-button-fw{
      margin-top: 20px;
  }
 
  .container-button-fw > .primary-button-visual{
    min-width: calc(100% - 32px);
  }
  .primary-button-visual.newsletter{
    font-size: 24px;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    border: none;
    margin: 15px 0;
  }
  .copy-margin{
    margin: 30px 0;
  }
  .copy-container{
    text-align: center;
    display: block;
    margin: 10px 0;
   
  }
 
  .copy-text-container{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    margin: 20px auto;
  }
  .copy-container > p{
    margin: 20px 0 25px 0;
  }
  .cta-copy{
    font-size: 24px;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    border: none;
    margin: 30px 0;
  }
  .cta-copy.false{
    cursor: copy;
    background-color: #777777;
  }
  .cta-copy.true{
    cursor: not-allowed;
    background-color: green;
  }

  .social-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: minmax(20px, 20px);
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    max-width: 500px;
    margin: 30px auto;
  }
  .social-container > .icon-container{
    margin: 10px 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .social-container > .icon-container > a > svg{
    color: #fff;
    font-size: 1.6rem;
    
  }

  .breadcrumb{
    display: flex;
    flex-flow: row nowrap;
    margin: 20px 0;
  }
 
  .breadcrumb > p {
    margin: 0;
  }
  a.breadcrumb{
    color: var(--white-text);
    text-decoration: underline;
    line-height: 22px;
    font-size: 22px;
    opacity: 0.8;
  }
  
  .offer-specs-container{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .offer-specs-container > li{
    margin-bottom: 7px;

  }

  .newsletter-form{
    margin-top: 300px 0;
    display: flex;
    flex-flow: column nowrap;
  }
  .newsletter-form > input {
    padding: 16px;
    border-radius: 8px;
    font-size: 20px;
    color: var(--dark-text);
  }
  .container--where{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .local-image{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .view-more{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    color: var(--white-text);
    text-transform: uppercase;
    margin-top: -25px;
    margin-bottom: 50px;
    text-decoration: underline;
    align-items: center;
  }
  .view-more > p{
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  .view-more-icon{
    font-size: 20px;
    margin-left: 5px;

  }
  footer{
    display: block;
    /* //padding: 16px;
    max-width: calc(100% - 32px);
    margin: 60px -30px -26px -30px;
    */
    padding: 30px 0;
    margin-top: 80px; 
    width: 100vw;
    text-align: center;
    background: hsl(230, 38%, 10%);
  }
  footer > a {
    color: var(--white-text);
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 5px;
    text-underline-offset: 4px;
  }
  footer > a:link {
    text-decoration: underline;
  }
  footer > p{
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  @media only screen and (min-width: 800px){
    main{
      background-color: var(--main-bg-color);
      padding: 0 32px;
    }
    .feed-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    .social-container{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .local--offer{
      display: flex;
      flex-flow: row nowrap;
     
    }
    .specs-extra{
      display: flex;
      flex-flow: row wrap;
      flex: 1;
    }
    .specs-extra > .container-button-fw{
      margin-top: 70px;
  }
  .specs-extra > .copy-container{
    margin-top: -6px;
  }
  .copy-text-container,.copy-text-container > h2{
   font-size: 1.17rem;
   text-align: left;
  }
  .specs-extra > .cupon-group {
    margin-left: 0px;
    margin: 0;
  }
  .offer-specs{
    margin-left: 20px;
  }
  }
  @media only screen and (min-width: 1000px){
    main{
      background-color: var(--main-bg-color);
      padding: 0 72px;
    }
    .feed-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 35px;
    }
    .container-h-flex{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
    }
    .container-h-flex > div{
      
    }
    .page-low-info{
      display: flex;
      flex-flow: column wrap;

    }
  }